* {
    margin: 0;
    padding: 0;
    font-family: 'santserret', sans-serif;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111827;
    color: white;
    top: 0;
    z-index: 100;
    position: sticky;
}

.btn1 {
    padding: 12px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #6B21A7;
    border-radius: 15px;
    border: 2px solid black;
}

.btn1:hover {
    background: purple;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
    transition: ease-in-out;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 45px;
    background: transparent;

}

.navbar ul {
    padding: 20px;
    display: flex;
    gap: 15px;
    align-items: center;

}

.navbar ul img {
    background: transparent;
    border-radius: 35px;
    cursor: pointer;
}

.navbar li {
    list-style: none;
    font-weight: bold;
    font-size: 15px;
    font-family: cursive;
}

.navbar li:hover {
    border-bottom: 3px solid purple;

}

.navbar li a {
    color: white;
    font-family: cursive;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.sub-navbar {
    display: flex;
    top: 0;
    z-index: 100;
    position: sticky;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    background: #111827;
    padding: 27px;
}

.sub-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


}

.sub-navbar p a {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.sub-navbar li a {
    list-style: none;
    font-weight: bold;
    text-decoration: none;
    color: #917FB1;
}

.sub-navbar li a:hover {
    border-bottom: 3px solid purple;
    font-weight: bold;

}

.container {
    justify-content: center;
    /* margin-top: -5px; */
    /* align-items: center; */
    display: flex;
    height: 70vh;
    padding: 30px;
    background: #111827;
}

.detail1 {
    margin: 0px 15px;
}


.container img {
    /* width: 20vw; */
    width: 30vw;
    height: 40vh;
}

.detail1 h1 {
    color: white;
    margin-bottom: 10px;
}

.detail1 span {
    color: #6B21A7;
    font-weight: bold;
    font-family: cursive;
}

.detail1 p {
    color: #9CA3AB;
    text-align: justify;
    font-family: cursive;
    margin-bottom: 20px;
}

.btn2 {
    padding: 12px;
    font-weight: bold;
    text-align: center;
    background: #c7c3ca;
    border-radius: 10px;
    border: 3px solid black;
}

.btn2:hover {
    background: rgb(61, 152, 173);
    color: white;
    font-weight: bold;

}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.manage {
    display: flex;

    justify-content: center;
    gap: 30px;
    align-items: center;
}

.container2 img {
    width: 20vw;
}